Verification can refer to two different things depending on its context.

- **In relation to data input**: It is the process of ensuring that the data input is the same as the original source data. Basically, checking if the data has not been tampered with or modified in the process.
- **In relation to [[Testing|software testing]]**: Confirmation that a computer product meets identified specification.